<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if current_page.data.key?('meta') %>
      <% current_page.data.meta.each do |meta| %>
        <meta
          <% meta.each do |key, value| %>
            <%= "#{key}=\"#{value}\"" %>
          <% end %>
        >
      <% end %>
    <% end %>
    <title><%= current_page.data.title || "API Documentation" %></title>

    <style media="screen">
      <%= Rouge::Themes::MonokaiSublimeSlate.render(:scope => '.highlight') %>
    </style>
    <style media="print">
      * {
        transition:none!important;
      }
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <!-- begin SEO -->
    <% seo_title = current_page.data.title || "API Documentation" %>
    <% seo_description = current_page.data.description || "API Reference Documentation" %>
    <% if config[:host] && config[:base_path] %>
      <% canonical_url = config[:host].chomp('/') + config[:base_path].chomp('/') + current_page.url.chomp('/') %>
    <% end %>
    <% if config[:host] && config[:base_path] && config[:social_image] && !(config[:social_image].include?("://")) %>
      <% social_image = config[:host].chomp('/') + config[:base_path].chomp('/') + '/' + config[:social_image].chomp('/') %>
    <% else %>
      <% social_image = config[:social_image] %>
    <% end %>
    <% if seo_description %>
      <meta name="description" content="<%=seo_description%>">
    <% end %>
    <% if config[:locale] %>
      <meta property="og:locale" content="<%=config[:locale]%>">
    <% end %>
    <meta property="og:site_name" content="<%=seo_title%>">
    <meta property="og:title" content="<%=seo_title%>">
    <meta name="twitter:title" content="<%=seo_title%>">
    <% if canonical_url %>
      <link rel="canonical" href="<%=canonical_url%>">
      <meta property="og:url" content="<%=canonical_url%>">
      <meta name="twitter:url" content="<%=canonical_url%>">
    <% end %>
    <% if config[:description] %>
      <meta property="og:description" content="<%=seo_description%>">
      <meta name="description" cotent="<%=seo_description%>"/>
      <meta name="twitter:description" content="<%=seo_description%>">
    <% end %>
    <% if config[:twitter_username] %>
      <meta name="twitter:site" content="<%= config[:twitter_username] %>">
      <% if social_image %>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="<%=social_image%>">
      <% end %>
    <% end %>
    <% if config[:facebook_app_id] %>
        <meta property="fb:app_id" content="<%=config[:facebook_app_id]%>">
    <% end %>
    <% if social_image %>
      <meta property="og:image" content="<%=social_image%>">
    <% end %>

    <% if config[:seo] %>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name" : "<%=seo_title%>",
          <% if config[:host] %>
            "url": "<%=config[:host]%>",
          <% end %>
          "description": "<%=seo_description%>",
          "email": "<%=config[:seo][:email]%>",
          "legalName" : "<%=config[:seo][:legal_name]%>",
          <% if config[:seo][:contact_point] %>
            "contactPoint": [{
              "@type": "ContactPoint",
              "email": "<%=config[:seo][:contact_point][:email]%>",
              "contactType": "customer service",
              "telephone": "<%=config[:seo][:contact_point][:telephone]%>"
            }],
          <% end %>
          <% if social_image %>
            "logo": "<%=social_image%>",
          <% end %>
          "sameAs": [
            <% if config[:facebook_username]  %>
              "https://facebook.com/<%=config[:facebook_username]%>",
            <% end %>
            <% if config[:github_username] %>
              "https://github.com/<%=config[:github_username]%>",
            <% end %>
            <% if config[:twitter_username] %>
              "https://twitter.com/<%=config[:twitter_username]%>"
            <% end %>
          ],
          <% if config[:seo][:address] %>
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "<%=config[:seo][:address][:street_address]%>",
              "addressLocality": "<%=config[:seo][:address][:address_locality]%>",
              "addressRegion": "<%=config[:seo][:address][:address_region]%>",
              "postOfficeBoxNumber": <%= config[:seo][:address][:post_office_box_number] %>
            }
          <% end %>
        }
      </script>
    <% end %>
    <!-- end SEO -->
    
    <% if current_page.data.code_clipboard %>
    <script>
      $(function() { setupCodeCopy(); });
    </script>

    <% if config[:google_analytics_id] %>
      <!-- begin Google Universal Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%=config[:google_analytics_id]%>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%=config[:google_analytics_id]%>', { 'optimize_id': '<%=config[:google_optimize_id]%>'});
      </script>
      
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXWPX6T" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WXWPX6T');
      </script>
      <!-- end Google Universal Analytics-->
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="toc-wrapper">
      <% if config[:navbar_url] %>
        <% link_to config[:navbar_url] do %>
          <%= image_tag 'logo.svg', :class => 'logo' %>
        <% end %>
      <% else %>
        <%= image_tag "logo.svg", :class => 'logo'  %>
      <% end %>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <ul id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
